atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
coverage==4.5.1
decorator==4.3.0
idna==2.6
more-itertools==5.0.0
pluggy==0.8.1
pocket==0.3.6
py==1.7.0
pycodestyle==2.5.0
requests==2.21.0
six==1.11.0
urllib3==1.24.2
validators==0.12.6
